<div class="scoreboard">
    <div data-control="toolbar">
        <div class="scoreboard-item control-chart" data-control="chart-pie">
            <ul>
                <li data-color="#95b753"><?= e(trans('pcms.formbuilder::lang.submissions.scoreboard.new_count')) ?> <span><?= $this->getRecordsStats('new_count'); ?></span></li>
                <li data-color="#d1d1d1"><?= e(trans('pcms.formbuilder::lang.submissions.scoreboard.read_count')) ?> <span><?= $this->getRecordsStats('read_count'); ?></span></li>
            </ul>
        </div>

        <div class="scoreboard-item title-value">
            <h4><?= e(trans('pcms.formbuilder::lang.submissions.scoreboard.new_count')) ?></h4>
            <p><?= $this->getRecordsStats('new_count'); ?></p>
            <p class="description"><?= e(trans('pcms.formbuilder::lang.submissions.scoreboard.new_description')) ?></p>
        </div>
    </div>
</div>
<div data-control="toolbar">
            <button
        class="btn btn-default oc-icon-trash-o"
        disabled="disabled"
        onclick="$(this).data('request-data', {
            checked: $('.control-list').listWidget('getChecked')
        })"
        data-request="onDelete"
        data-request-confirm="<?= e(trans('backend::lang.list.delete_selected_confirm')) ?>"
        data-trigger-action="enable"
        data-trigger=".control-list input[type=checkbox]"
        data-trigger-condition="checked"
        data-request-success="$(this).prop('disabled', true)"
        data-stripe-load-indicator>
        <?= e(trans('backend::lang.list.delete_selected')) ?>
    </button>
    <button
        class="btn btn-default oc-icon-check-square"
        disabled="disabled"
        onclick="$(this).data('request-data', {
            checked: $('.control-list').listWidget('getChecked')
        })"
        data-request="onMarkRead"
        data-request-confirm="<?= e(trans('pcms.formbuilder::lang.submissions.scoreboard.mark_read_confirm')) ?>"
        data-trigger-action="enable"
        data-trigger=".control-list input[type=checkbox]"
        data-trigger-condition="checked"
        data-request-success="$(this).prop('disabled', true)"
        data-stripe-load-indicator>
        <?= e(trans('pcms.formbuilder::lang.submissions.scoreboard.mark_read')) ?>
    </button>
</div>
