.bizagn--logo img{
    height: 50px;
}
.bizagn--page-title {
    padding-top: 0px;
}
.back-to-top{
    bottom: 30px !important;
    right: 90px !important;
}
.service-item ul{
    padding-left: 20px;
}
.service-item ul li{
    list-style: circle;
}
.service-item p{
    padding: 0 !important;
}
.bizagn--base-btn.white-btn{
    font-weight: bold;
}
.widget-social .fa{
    font-size: 30px;
}
.bizagn--off-canvas-social .fa{
    font-size: 30px;
}
.bizagn--section-title h2 {
    font-size: 42px;
}
.bizagn--testi-item img{
    width: 100px !important;
}