==
<div class="bizagn--blog-item">
    {% if post.featured_images.count %}
    {% for image in post.featured_images|slice(0, 1) %}
    <a href="{{ post.url }}" class="bizagn--post-thumb">
        <img src="{{ image.getThumb(540, 300, 'crop') }}" alt="{{ post.title }}" class="img-fluid">
    </a>
    {% endfor %}
    {% endif %}
    <div class="bizagn--blog-info">
        <h3> <a href="{{ post.url }}">{{ post.title }}</a></h3>
        <p>{{ post.summary | striptags | truncate(100) }}</p>
        <div class="bizagn--blog-meta">
            <ul class="list-inline">
                <li><a href="{{ post.url }}">{{ post.published_at|date('d m, Y') }}</a></li>
                {% if post.categories.count %}
                <li>
                    {% for category in post.categories %}
                    <a href="{{ 'blogs'|page({c:category.slug}) }}">{{ category.name }}</a>{% if not loop.last %}, {%
                    endif %}
                    {% endfor %}
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>