[viewBag]

[socialShare]
order_facebook = 1
order_twitter = 3
order_linkedin = 4
order_tumblr = 5
order_pinterest = 2
order_reddit = 6
order_email = 7
facebook = 1
twitter = 1
linkedin = 1
tumblr = 0
pinterest = 1
reddit = 0
email = 0
icon_facebook = "fa fa-facebook"
icon_twitter = "fa fa-twitter"
icon_linkedin = "fa fa-linkedin"
icon_pinterest = "fa fa-pinterest"
==
{% for button in socialShare.property('buttons_order') %}
{% if(socialShare.property(button)) %}
<a rel="nofollow" target="_blank" href="{{ socialShare.property('buttons_parameters')[button]['href'] }}"
    title="{{ socialShare.property('buttons_parameters')[button]['title'] }}">
    {% if socialShare.property('buttons_parameters')[button]['image'] %}
    <img src="{{socialShare.property('buttons_parameters')[button]['image']}}"
        alt="{{ socialShare.property('buttons_parameters')[button]['title'] }}">
    {% endif %}
    {% if socialShare.property('buttons_parameters')[button]['icon'] %}
    <i class="{{ socialShare.property('buttons_parameters')[button]['icon'] }}"></i>
    {% endif %}
    {% if socialShare.property('buttons_parameters')[button]['label'] %}
    <span>{{ socialShare.property('buttons_parameters')[button]['label'] }}</span>
    {% endif %}
</a>
{% endif %}
{% endfor %}