[viewBag]

[blogCategories]
slug = "{{ :slug }}"
displayEmpty = 0
categoryPage = "category"

[blogTags]
results = 5
orderBy = 0
direction = "desc"

[DataBlock socialsBlock]
code = "mang-xa-hoi"

[blogPosts blogPostsSidebar]
pageNumber = 1
postsPerPage = 3
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
postPage = "blog"

[bannerLocation BlogBanner]
locationFilter = "sidebar-tin-tuc"

==
<?php
function onStart(){
    if(isset($_GET["search"]))$this->page['search'] = $_GET["search"];
}
?>
==
{% set socials = socialsBlock.data %}
{% set posts = blogPostsSidebar.posts %}
<div class="bizagn--sidebar">
    <div class="widget">
        <div class="bizagn--widget widget_search">
            <form action="{{'blogs'|page}}" method="get">
                <div class="input-group">
                    <input type="search" name="search" class="form-control" required placeholder="{{'Tìm bài viết'|_}}"
                        {% if this.page.search %}value="{{this.page.search}}" {% endif %}>
                    <div class="input-group-append">
                        <button class="btn" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% if blogCategories.categories|length %}
    <div class="widget">
        <div class="bizagn--widget widget_categories">
            <div class="widget-title">
                <div class="bizagn--widget-title">
                    <h3>{{'Danh mục'|_}}</h3>
                </div>
            </div>
            <div class="bizagn--widget-content">
                <ul>
                    {% for cate in blogCategories.categories %}
                    <li><a href="{{'blogs'|page({c: cate.slug})}}">{{cate.name}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {% endif %}
    {% if blogPostsSidebar.posts|length %}
    <div class="widget">
        <div class="bizagn--widget widget_posts">
            <div class="widget-title">
                <div class="bizagn--widget-title">
                    <h3>{{'Bài viết mới'|_}}</h3>
                </div>
            </div>
            <div class="bizagn--widget-content">
                {% for post in blogPostsSidebar.posts %}
                <div class="bizagn--widget-post">
                    {% if post.featured_images.count %}
                    {% for image in post.featured_images|slice(0, 1) %}
                    <a href="{{post.url}}" class="bizagn--widget-thumb">
                        <img src="{{ image.getThumb(80, 80, 'crop') }}" alt="{{post.title}}" class="img-fluid">
                    </a>
                    {% endfor %}
                    {% endif %}
                    <div class="bizagn--widget-meta-title">
                        <a href="{{post.url}}" class="w-meta">{{ post.published_at|date('d m, Y') }}</a>
                        <a href="{{post.url}}" class="w-title">{{post.title}}</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
    {% if blogTags.tags|length %}
    <div class="widget">
        <div class="bizagn--widget widget-posts">
            <div class="widget-title">
                <div class="bizagn--widget-title">
                    <h3>{{'Tags'|_}}</h3>
                </div>
            </div>
            <div class="bizagn--widget-content">
                <ul>
                    {% for tag in blogTags.tags %}
                    <li><a href="{{'tags'|page({tag: tag.slug})}}">{{ tag.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {% endif %}
    {% if BlogBanner.banners | length %}
    <div class="widget mb-4">
        {% for banner in BlogBanner.banners %}
        <a href="{{banner.url}}" target="_blank"><img src="{{banner.background_img.getPath()}}" width="100%" alt=""></a>
        {% endfor %}
    </div>
    {% endif %}
    {% if socials.fb_widget %}
    <div class="widget">
        <div class="bizagn--widget widget-posts">
            <div class="widget-title">
                <div class="bizagn--widget-title">
                    <h3>{{'Chúng tôi trên Facebook'|_}}</h3>
                </div>
            </div>
            {{socials.fb_widget|raw}}
        </div>
    </div>
    {% endif %}
</div>