
<div class="loading-indicator-container">
    <button 
        class="btn btn-primary" 
        data-request="<?= $this->getEventHandler('onClearCache') ?>" 
        data-disposable 
        data-load-indicator="Clearing..."
        data-request-data="redirect:0"
    >
        <?= e(trans('pcms.seo::lang.clear_cache')) ?>
    </button>
</div>