<h1>Hướng dẫn sử dụng</h1>
<div class="control-tabs primary-tabs" data-control="tab">
    <ul class="nav nav-tabs">
        <?php foreach($settings->guides as $index=>$guide){ ?>
        <li <?php if($index == 0){ ?> class="active" <?php } ?> ><a href="#tab<?= $index ?>"><?= $guide['title'] ?></a></li>
        <?php } ?>
    </ul>
    <div class="tab-content">
        <?php foreach($settings->guides as $index=>$guide){ ?>
            <div class="tab-pane <?php if($index == 0){ ?> active <?php } ?>">
                <h3><?= $guide['title'] ?></h3>
                <?= $guide['description'] ?>
            </div>
        <?php } ?>
    </div>
</div>