[seo]

[DataBlock IncludeBlock]
code = "nhung-vao-giao-dien"

[DataBlock CompanyBlock]
code = "thuong-hieu"

[localePicker]
forceUrl = 0

==
{% set includeBlock = IncludeBlock.data %}
{% set companyBlock = CompanyBlock.data %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if companyBlock.title %}
    <title>{{companyBlock.title}}</title>
    {% endif %}
    {% if companyBlock.description %}
    <meta name="description" content="{{companyBlock.description}}">
    {% endif %}
    {% if companyBlock.favicon %}
    <link rel="icon" type="image/png" href="{{companyBlock.favicon|media}}" />
    {% endif %}
    {% partial 'layout/header-scripts' %}
    {% if includeBlock.header_include %}
    {{includeBlock.header_include|raw}}
    {% endif %}
    {% component 'seo' %}
</head>

<body>
    {% if includeBlock.body_include %}
    {{includeBlock.body_include|raw}}
    {% endif %}
    {% partial 'layout/header' %}
    {% page %}
    {% partial 'layout/footer' %}
    {% partial 'layout/footer-scripts' %}
    {% if includeBlock.footer_include %}
    {{includeBlock.footer_include|raw}}
    {% endif %}
</body>

</html>