subject = "Cảm ơn bạn đã liên hệ cho chúng tôi"
description = "Cảm ơn bạn đã liên hệ cho chúng tôi"
==

Cảm ơn bạn đã liên hệ về chúng tôi, chúng tôi sẽ liên hệ với bạn trong thời gian sớm nhất

{% if fields|length %}
Nội dung liên hệ:
{% for field in fields %}
{{ field.name }}: {{ field.value }}

{% endfor %}
{% endif %}

==

<p>Cảm ơn bạn đã liên hệ về chúng tôi, chúng tôi sẽ liên hệ với bạn trong thời gian sớm nhất</p>

{% if fields|length %}
<p>Nội dung liên hệ:</p>

<table border="0">
    <tbody>
        {% for field in fields %}
        <tr>
            <th style="vertical-align: top; text-align: left; padding-right: 10px;">{{ field.name }}</th>
            <td style="text-align: left;">{% if field.raw %}{{ field.value | raw }}{% else %}{{ field.value }}{% endif %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
