subject = "Có liên hệ mới"
==

Có liên hệ mới từ biểu mẫu {{ form.title }}.

{% if fields|length %}
Nội dung liên hệ:

{% for field in fields %}
{{ field.name }}: {{ field.value }}
{% endfor %}
{% endif %}

For more information please go to {{ moreInfoLink }}
==

<p>Có liên hệ mới từ biểu mẫu <b>{{ form.title }}</b>.</p>

{% if fields|length %}
<br>

<table border="0">
	<tbody>
		{% for field in fields %}
		<tr>
			<th style="vertical-align: top; text-align: left; padding-right: 10px;">{{ field.name }}</th>
			<td style="text-align: left;">{% if field.raw %}{{ field.value | raw }}{% else %}{{ field.value }}{% endif %}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% endif %}

{% if moreInfoLink %}
<p><a href="{{ moreInfoLink }}">Ấn vào đường dẫn</a> đễ xem chi tiết</p>
{% endif %}
