.banners-status .badge {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.banners-status .badge-secondary {
    color: #fff;
    background-color: #6c757d;
}
.banners-status .badge-primary {
    color: #fff;
    background-color: #007bff;
}
.banners-status .badge-success {
    color: #fff;
    background-color: #28a745;
}
.banners-status .badge-danger {
    color: #fff;
    background-color: #dc3545;
}
.banners-status .badge-warning {
    color: #212529;
    background-color: #ffc107;
}
.banners-status .badge-info {
    color: #fff;
    background-color: #17a2b8;
}
.banners-status .badge-light {
    color: #212529;
    background-color: #f8f9fa;
}
.banners-status .badge-dark {
    color: #fff;
    background-color: #343a40;
}