<div data-control="toolbar">
    <div class="btn-group">
        <a
            href="<?= Backend::url('pcms/banners/banners/create') ?>"
            class="btn btn-primary oc-icon-plus">
            <?= e(trans('pcms.banners::lang.banner.create_title')) ?>
        </a>
        <a href="<?= Backend::url('pcms/banners/banners/reorder') ?>" class="btn btn-default oc-icon-list-ol">
            <?= e(trans('pcms.banners::lang.banner.change_order')) ?>
        </a>
        <button
            class="btn btn-default oc-icon-trash-o"
            disabled="disabled"
            onclick="$(this).data('request-data', {
                checked: $('.control-list').listWidget('getChecked')
            })"
            data-request="onDelete"
            data-request-confirm="<?= e(trans('backend::lang.list.delete_selected_confirm')) ?>"
            data-trigger-action="enable"
            data-trigger=".control-list input[type=checkbox]"
            data-trigger-condition="checked"
            data-request-success="$(this).prop('disabled', true)"
            data-stripe-load-indicator>
            <?= e(trans('backend::lang.list.delete_selected')) ?>
        </button>
    </div>
</div>
