<?php Block::put('breadcrumb') ?>
    <ul>
        <li><a href="<?= Backend::url('pcms/banners/banners') ?>"><?= e(trans('pcms.banners::lang.banners.menu_label')) ?></a></li>
        <li><?= e(trans('pcms.banners::lang.banner.pbanner_title')) ?></li>
    </ul>
<?php Block::endPut() ?>

<?php if (!$this->fatalError): ?>

    <div class="form-pbanner">
        <?= $this->formRenderPbanner() ?>
    </div>

<?php else: ?>

    <p class="flash-message static error"><?= e($this->fatalError) ?></p>
    <p><a href="<?= Backend::url('pcms/banners/banners') ?>" class="btn btn-default"><?= e(trans('backend::lang.form.return_to_list')) ?></a></p>

<?php endif ?>