<?php Block::put('breadcrumb') ?>
    <ul>
        <li><a href="<?= Backend::url('pcms/banners/banners') ?>"><?= e(trans('pcms.banners::lang.banners.menu_label')) ?></a></li>
        <li><?= e(trans('pcms.banners::lang.banner.change_order')) ?></li>
    </ul>
<?php Block::endPut() ?>

<?= $this->reorderRender() ?>
