<?php Block::put('breadcrumb') ?>
    <ul>
        <li><a href="<?= Backend::url('pcms/datablocks/blocks') ?>">Data</a></li>
        <li><?= e($this->pageTitle) ?></li>
    </ul>
<?php Block::endPut() ?>

<?php Block::put('form-contents') ?>
<?php if (!$this->fatalError): ?>

    <?= Form::open(['class' => 'layout']) ?>

        <div class="layout-row">
            <?= $this->formRender() ?>
        </div>

        <div class="form-buttons">
            <div class="loading-indicator-container">
                <button
                    type="submit"
                    data-request="onSave"
                    data-request-data="redirect:0"
                    data-hotkey="ctrl+s, cmd+s"
                    data-load-indicator="<?= e(trans('backend::lang.form.saving')) ?>"
                    class="btn btn-primary">
                    <?= e(trans('backend::lang.form.save')) ?>
                </button>
                <button
                    type="button"
                    data-request="onSave"
                    data-request-data="close:1"
                    data-hotkey="ctrl+enter, cmd+enter"
                    data-load-indicator="<?= e(trans('backend::lang.form.saving')) ?>"
                    class="btn btn-default">
                    <?= e(trans('backend::lang.form.save_and_close')) ?>
                </button>
                <?php if ($this->user->hasAccess(['pcms.datablocks.manage_groups'])): ?>
                <button
                    type="button"
                    class="oc-icon-trash-o btn-icon danger pull-right"
                    data-request="onDelete"
                    data-load-indicator="<?= e(trans('backend::lang.form.deleting')) ?>"
                    data-request-confirm="<?= e(trans('backend::lang.form.confirm_delete')) ?>">
                </button>
                <?php endif ?>
                <span class="btn-text">
                    <?= e(trans('backend::lang.form.or')) ?> <a href="<?= Backend::url('pcms/datablocks/blocks') ?>"><?= e(trans('backend::lang.form.cancel')) ?></a>
                </span>
            </div>
        </div>
    <?= Form::close() ?>

<?php else: ?>
    <p class="flash-message static error"><?= e(trans($this->fatalError)) ?></p>
    <p><a href="<?= Backend::url('pcms/datablocks/blocks') ?>" class="btn btn-default"><?= e(trans('backend::lang.form.return_to_list')) ?></a></p>
<?php endif ?>
<?php Block::endPut() ?>
<?php Block::put('form-sidebar') ?>
<h3 style="margin-top: 0px;margin-bottom: 16px;">Hướng dẫn chỉnh sửa <?php echo $this->vars["formModel"]->name; ?></h3>
<?php if(isset($this->vars["formModel"]->group->description)){?>
<p style="margin-top: 0px;margin-bottom: 16px;"><?php echo $this->vars["formModel"]->group->description; ?></p>
<?php } ?>
<?php if(isset($this->vars["formModel"]->group->images[0])){
    foreach($this->vars["formModel"]->group->images as $image){
    ?>
<img style="margin-bottom: 16px" width="100%" src="<?php echo $image->getPath(); ?>" alt="">
<?php }} ?>
<?php Block::endPut() ?>
<?php Block::put('body') ?>
    <?= Form::open(['class'=>'layout stretch']) ?>
        <?= $this->makeLayout('form-with-sidebar') ?>
    <?= Form::close() ?>
<?php Block::endPut() ?>

<style>
    .form-sidebar{
        width: initial !important;
    }
</style>