[DataBlock BannersBlock]
code = "banner-trang-chu"
==
{% set bannersBlock = BannersBlock.data %}
<section class="bizagn--bnner-cover" data-bg-img="{{'assets/images/banner/banner-bg.png'|theme}}">
    <div class="container">
        <div class="bizagn--banner bizagn--owl-btn owl-carousel style-2" data-owl-nav="true" data-owl-dots="true"
            data-owl-animate-out="fadeOut" data-owl-animate-in="fadeIn" data-owl-margin="5">
            {% for banner in bannersBlock.banners %}
            <div class="bizagn--banner-slide">
                <div class="row">
                    <div class="col-md-6">
                        <div class="bizagn--banner-slide-text">
                            <h1>{{banner.title}}</h1>
                            <p>{{banner.overview}}</p>
                            {% if banner.url and banner.url_anchor %}
                            <a href="{{banner.url}}" class="btn bizagn--base-btn">
                                <img src="{{'assets/images/btn-right-arrow.svg'|theme}}" alt="" class="svg left"> About
                                {{banner.url_anchor}}
                                <img src="{{'assets/images/btn-right-arrow.svg'|theme}}" alt="" class="svg right">
                            </a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-6">
                        {% if banner.image %}
                        <div class="bizagn--banner-slide-images d-flex justify-content-md-end">
                            <div class="main-image">
                                <img src="{{banner.image|media}}" alt="" class="img-fluid">
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>