[blogPosts]
pageNumber = "{{ :pageNon }}"
postsPerPage = 10
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
postPage = "blog"
==
{% set posts = blogPosts.posts %}
{% if posts | length %}
<section class="pt-120 pb-70" data-bg-img="{{'assets/images/blogs/bg.png'|theme}}">
    <div class="container">
        <div class="bizagn--section-title">
            <p>{{'Tin tức'|_}}</p>
            <h2>{{'Xem tin mới từ chúng tôi'|_}}</h2>
        </div>

        <div class="row bizagn--blog-section">
            {% for post in posts %}
            <div class="col-md-6">
                {% partial 'blog/post' post=post %}
            </div>
            {% endfor %}
            <a href="{{'blogs'|page({c: ''})}}" class="bizagn--rm-btn">{{'Xem thêm'|_}} <i
                    class="fa fa-angle-right"></i></a>
        </div>
    </div>
</section>
{% endif %}