[DataBlock CtaBlock]
code = "cta-trang-chu"
==
{% set ctaBlock = CtaBlock.data %}
{% if ctaBlock.title | length %}
<section class="pt-120 pb-120 bg-red" data-bg-img="{{'assets/images/cta-bg.png'|theme}}">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7 col-md-8 offset-lg-1">
                <h2>{{ctaBlock.title}}</h2>
                {% if ctaBlock.subtitle %}
                <p>{{ctaBlock.subtitle}}</p>
                {% endif %}
            </div>
            <div class="col-lg-3 col-md-4 offset-lg-1">
                {% if ctaBlock.url and ctaBlock.url_anchor %}
                <a href="{{ ctaBlock.url }}" class="btn bizagn--base-btn white-btn">
                    <i class="fa fa-arrow-right svg left"></i>
                    <!-- <img src="{{'assets/images/btn-right-arrow.svg'|theme}}" alt="" class="svg left"> -->
                    {{ ctaBlock.url_anchor }}
                    <i class="fa fa-arrow-left svg right"></i>
                    <!-- <img src="{{'assets/images/btn-right-arrow.svg'|theme}}" alt="" class="svg right"> -->
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endif %}