[DataBlock PartnersBlock]
code = "doi-tac"
==
{% set partnersBlock = PartnersBlock.data %}
{% if partnersBlock.partners | length %}
<div class="pt-120 pb-120">
    <div class="container">
        <div class="bizagn--section-title text-center">
            <p>{{partnersBlock.subtitle}}</p>
            <h2>{{partnersBlock.title|raw}}</h2>
        </div>
        <div class="bizagn--brand-slider bizagn--owl-btn owl-carousel" data-owl-rtl="true" data-owl-autoplay="true"
            data-owl-items="6" data-owl-mouse-drag="true"
            data-owl-responsive='{"0": {"items": "2"}, "480": {"items": "3"}, "768": {"items": "4"}, "992": {"items": "6"}}'>
            {% for partner in partnersBlock.partners %}
            <div class="bizagn--brand-item d-flex justify-content-center">
                <a target="_blank" href="{{ partner.url }}"><img src="{{ partner.logo|media }}" alt=""
                        class="img-fluid"></a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}