<section class="pt-120 pb-120" data-bg-img="{{'assets/images/project/bg.png'|theme}}">
    <div class="container">
        <!-- Section Title -->
        <div class="bizagn--section-title">
            <p>projects</p>
            <h2>Take a peek at our <br> latest projects</h2>
        </div>
        <!-- End of Section Title -->

        <!-- Project Filter -->
        <div class="bizagn--project-filter">
            <!-- Project Filter Buttons -->
            <div class="bizagn--project-filter-buttons">
                <button class="filter-btn" data-filter="*"> All </button>
                <button class="filter-btn" data-filter=".creative"> Creative </button>
                <button class="filter-btn" data-filter=".branding"> Branding </button>
                <button class="filter-btn" data-filter=".web"> Web </button>
            </div>
            <!-- End of Project Filter Buttons -->


            <div class="row no-gutters bizagn--project-filter-items isotope">
                <!-- Filter Item -->
                <div class="col-lg-4 col-md-6 bizagn--filter-item branding">
                    <div class="d-flex justify-content-center">
                        <div class="d-inline-block position-relative">
                            <img src="{{'assets/images/project/0-1.jpg'|theme}}" alt="" class="img-fluid">
                            <div class="bizagn--filter-item-data">
                                <h4> <a href="project-details.html"> Project 1 </a> </h4>
                                <p>Branding</p>
                                <a href="project-details.html"><img src="{{'assets/images/project/arrow.svg'|theme}}"
                                        alt="" class="img-fluid"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Filter Item -->

                <!-- Filter Item -->
                <div class="col-lg-4 col-md-6 bizagn--filter-item creative">
                    <div class="d-flex justify-content-center">
                        <div class="d-inline-block position-relative">
                            <img src="{{'assets/images/project/0-2.jpg'|theme}}" alt="" class="img-fluid">
                            <div class="bizagn--filter-item-data">
                                <h4> <a href="project-details.html"> Project 2 </a> </h4>
                                <p>Creative</p>
                                <a href="project-details.html"><img src="{{'assets/images/project/arrow.svg'|theme}}"
                                        alt="" class="img-fluid"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Filter Item -->

                <!-- Filter Item -->
                <div class="col-lg-4 col-md-6 bizagn--filter-item web">
                    <div class="d-flex justify-content-center">
                        <div class="d-inline-block position-relative">
                            <img src="{{'assets/images/project/0-3.jpg'|theme}}" alt="" class="img-fluid">
                            <div class="bizagn--filter-item-data">
                                <h4> <a href="project-details.html"> Project 3 </a> </h4>
                                <p>Web</p>
                                <a href="project-details.html"><img src="{{'assets/images/project/arrow.svg'|theme}}"
                                        alt="" class="img-fluid"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Filter Item -->

                <!-- Filter Item -->
                <div class="col-lg-4 col-md-6 bizagn--filter-item branding">
                    <div class="d-flex justify-content-center">
                        <div class="d-inline-block position-relative">
                            <img src="{{'assets/images/project/0-4.jpg'|theme}}" alt="" class="img-fluid">
                            <div class="bizagn--filter-item-data">
                                <h4> <a href="project-details.html"> Project 4 </a> </h4>
                                <p>Branding</p>
                                <a href="project-details.html"><img src="{{'assets/images/project/arrow.svg'|theme}}"
                                        alt="" class="img-fluid"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Filter Item -->

                <!-- Filter Item -->
                <div class="col-lg-4 col-md-6 bizagn--filter-item creative">
                    <div class="d-flex justify-content-center">
                        <div class="d-inline-block position-relative">
                            <img src="{{'assets/images/project/0-5.jpg'|theme}}" alt="" class="img-fluid">
                            <div class="bizagn--filter-item-data">
                                <h4> <a href="project-details.html"> Project 5 </a> </h4>
                                <p>Creative</p>
                                <a href="project-details.html"><img src="{{'assets/images/project/arrow.svg'|theme}}"
                                        alt="" class="img-fluid"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Filter Item -->

                <!-- Filter Item -->
                <div class="col-lg-4 col-md-6 bizagn--filter-item web">
                    <div class="d-flex justify-content-center">
                        <div class="d-inline-block position-relative">
                            <img src="{{'assets/images/project/0-6.jpg'|theme}}" alt="" class="img-fluid">
                            <div class="bizagn--filter-item-data">
                                <h4> <a href="project-details.html"> Project 6 </a> </h4>
                                <p>Web</p>
                                <a href="project-details.html"><img src="{{'assets/images/project/arrow.svg'|theme}}"
                                        alt="" class="img-fluid"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Filter Item -->
            </div>
        </div>
        <!-- End of Project Filter -->

    </div>
</section>