[DataBlock ServicesBlock]
code = "dich-vu"
==
{% set servicesBlock = ServicesBlock.data %}
{% if servicesBlock.services | length %}
<!-- <section class="pt-120 bg-f8">
    <div class="container">
        <div class="bizagn--section-title">
            <p>{{servicesBlock.title}}</p>
            <h2>{{servicesBlock.subtitle|raw}}</h2>
        </div>
        <div class="bizagn--service-slider bizagn--owl-btn owl-carousel bizagn--nav-95px" data-owl-items="3"
            data-owl-nav="true" data-owl-margin="30" data-owl-autoplay="false"
            data-owl-responsive='{"0": {"items": "1"},"768": {"items": "2"}, "992": {"items": "3"}}'>
            {% for service in servicesBlock.services %}
            <div class="bizagn--service-slider-item">
                <div class="bizagn--service-item">
                    {% if service.image %}
                    <img src="{{service.image|media}}" alt="" class="img-fluid svg">
                    {% endif %}
                    <h3>{{service.title}}</h3>
                    <p>{{service.overview}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section> -->
<section class="pt-120 pb-90 bg-f8">
    <div class="container">
        <div class="bizagn--section-title">
            <p>{{servicesBlock.title}}</p>
            <h2>{{servicesBlock.subtitle|raw}}</h2>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="bizagn--faq-items accordion" id="bizagn--accordion">
                    {% for service in servicesBlock.services %}
                    <div class="bizagn--faq-item">
                        <div {% if service.image %}data-image="{{service.image|media}}" {% endif %}
                            onclick="changeImage(this)" class="target-area{% if loop.index == 1 %} active{% endif %}"
                            id="target-area">
                            <h3 data-toggle="collapse" data-target="#expand-area-{{loop.index}}" aria-expanded="true"
                                aria-controls="expand-area-{{loop.index}}">
                                <span>{{loop.index}}.</span> {{service.title}}
                            </h3>
                        </div>
                        <div id="expand-area-{{loop.index}}"
                            class="collapse expand-area service-item{% if loop.index == 1 %} show{% endif %}"
                            aria-labelledby="target-area" data-parent="#bizagn--accordion">
                            <p class="font-weight-bold p-0 my-2">{{service.overview|raw}}</p>
                            {{service.description|raw}}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-5 offset-lg-1 d-flex align-items-bottom justify-content-center bizagn--faq-img">
                {% if servicesBlock.services[0].image %}
                <div class="bizagn--faq-img-cover">
                    <img id="serviceImage" src="{{servicesBlock.services[0].image|media}}" alt="" class="img-fluid">
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endif %}