[DataBlock TeamsBlock]
code = "teams"
==
{% set teamsBlock = TeamsBlock.data %}
{% if teamsBlock.teams | length %}
<section class="pt-120 pb-120">
    <div class="container">
        <div class="bizagn--section-title text-center">
            <p>{{'Team'|_}}</p>
            <h2>{{'Gặp gỡ thành viên của chúng tôi'|_}}</h2>
        </div>

        <div class="bizagn--team-slider bizagn--owl-btn owl-carousel bizagn--nav-95px" data-owl-items="4"
            data-owl-autoplay="false" data-owl-nav="true" data-owl-margin="30"
            data-owl-responsive='{"0": {"items": "1"}, "480": {"items": "2"}, "768": {"items": "3"}, "992": {"items": "4"}}'>
            {% for team in teamsBlock.teams %}
            <div class="bizagn--team-slider-item">
                <div class="bizagn--team-item text-center">
                    <img src="{{team.avatar|media}}" alt="" class="img-fluid">
                    <div class="bizagn--team-item-info">
                        <h3>{{team.name}}</h3>
                        <p>{{team.title}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}