[DataBlock TestimonialBlock]
code = "danh-gia-tu-khach-hang"
==
{% set testimonialBlock = TestimonialBlock.data %}
{% if testimonialBlock.testimonials | length %}
<section class="pt-120 pb-120">
    <div class="container">
        <div class="bizagn--section-title text-center">
            <p>{{testimonialBlock.subtitle}}</p>
            <h2>{{testimonialBlock.title}}</h2>
        </div>
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="bizagn--testi-slider bizagn--owl-btn owl-carousel bizagn--nav-95px" data-owl-nav="true"
                    data-owl-autoplay="false" data-bg-img="{{'assets/images/testimonial/map-bg.png'|theme}}">
                    {% for review in testimonialBlock.testimonials %}
                    <div class="bizagn--testi-slider-item">
                        <div class="bizagn--testi-item text-center">
                            {% if review.image %}
                            <img width="100" src="{{review.image|media}}" alt="">
                            {% endif %}
                            <p>“{{ review.content }}”</p>
                            <div class="client-pos"> <span>{{ review.name }} / </span> {{ review.title }}</div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}