<?php Block::put('breadcrumb') ?>
    <ul>
        <li><a href="<?= Backend::url('pcms/reviews/reviews') ?>"><?= e(trans('pcms.reviews::lang.reviews.menu_label')) ?></a></li>
        <li><?= e(trans('pcms.reviews::lang.review.preview_title')) ?></li>
    </ul>
<?php Block::endPut() ?>

<?php if (!$this->fatalError): ?>

    <div class="form-preview">
        <?= $this->formRenderPreview() ?>
    </div>

<?php else: ?>

    <p class="flash-message static error"><?= e($this->fatalError) ?></p>
    <p><a href="<?= Backend::url('pcms/reviews/reviews') ?>" class="btn btn-default"><?= e(trans('backend::lang.form.return_to_list')) ?></a></p>

<?php endif ?>