
{% set self = __SELF__ %}
{% set settings = __SELF__.settings %}
{% set robots = [ 
    viewBag.robot_index, 
    viewBag.robot_follow, 
    include(template_from_string(viewBag.robot_advanced)), 
   ] 
%}

{%- if settings.enable_site_meta -%}
<title>{{site_name}}</title>
<meta name="description" content="{{ include(template_from_string(viewBag.meta_description)) | default(settings.site_description) }}" />
<link rel="canonical" href="{{ include(template_from_string(viewBag.canonical_url)) | url  }}">
<meta name="keywords" content="{{ keywords | join(', ') }}" />
{% endif %}
{%- if settings.enable_robots_meta -%} <meta name="robots" content="{{ robots | removenulls|join(', ') }}" /> {% endif %}

{% if not self.disable_schema %}
{% for schema in viewBag.schemas %} 
{{ include(template_from_string(schema.script)) | raw }}
{% endfor %}

{{ include(template_from_string(viewBag.schemas | pcms_seo_schema)) | raw }}
{% endif %}

{% if settings.favicon_enabled %}
<link rel="shortcut icon" href="{{ 'favicon.ico' | app }}" type="image/x-icon">
<link rel="icon" type="image/x-icon" href="{{ 'favicon.ico' | app }}" /> 
{% endif %}

{% if settings.enable_og %}
{% partial '@social.htm' settings=settings meta_locales=meta_locales %}
{% endif %}

{% if settings.extra_meta %} 
{{ settings.extra_meta | raw }} 
{% endif %}
