<div class="callout callout-warning no-subheader">
    <div class="header">
        <i class="icon-warning"></i>
        <h3>HTML và Cache</h3>
    </div>
    <div class="content">
        <p>Các yêu cầu Ajax có cùng URL sẽ trả về HTML được lưu trong bộ nhớ cache đầu tiên. <br>
            Điều này sẽ phá vỡ các thành phần sử dụng khung ajax từ Pcms.</p>
    </div>
</div>