title = "Trang không tồn tại"
url = "/404"
layout = "main"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
enabled_in_sitemap = 1
use_updated_at = 1
changefreq = "always"
priority = 0.1
==
<div class="bizagn--404 d-flex align-items-center justify-content-center" data-bg-img="{{'assets/images/404.png'|_}}">
    <div class="bizagn--404-cover">
        <h1>404</h1>
        <h2>{{'Xin lỗi! Không tìm tháy trang'|_}}</h2>
        <p>{{'Oops! Trang bạn tìm có thể đã bị thay đổi, bị xóa hoặc không tồn tại. Vui lòng quay về trang chủ!'|_}}</p>
        <div class="bizagn--search">
            <a class="btn btn-primary" href="{{'index'|page}}">
                <i class="fa fa-home"></i> {{'Trang chủ'|_}}
            </a>
        </div>
    </div>
</div>