title = "Tin tức"
url = "/tin-tuc/:c?"
layout = "main"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
enabled_in_sitemap = 1
use_updated_at = 1
changefreq = "always"
priority = 0.1
model_class = "\RainLab\Blog\Models\Category"
fill_params = "{':c':'slug'}"
use_updated_at = 1

[blogPosts]
pageNumber = "{{ :page }}"
categoryFilter = "{{ :c }}"
postsPerPage = 10
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "blog-category"
postPage = "blog"
==
{% set posts = blogPosts.posts %}
<div class="bizagn--page-title">
    <div class="bizagn--page-bc">
        <ul>
            <li><a href="{{'index'|page}}">{{'Trang chủ'|_}}</a></li>
            <li>{% if category %}<a href="{'blogs'|page({c: ''})}}">{{'Tin tức'|_}}</a>{% else %}{{'Tin tức'|_}}{%
                endif %}</li>
            {% if category %}
            <li>{{category.name}}</li>
            {% endif %}
        </ul>
    </div>
</div>
<section class="pt-120 pb-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="row bizagn--blog-section">
                    {% if this.page.search %}
                    <div class="col-12">
                        <div class="sort-box mb-3">
                            <div class="sort-box-item">
                                <div class="sort-box__tab">
                                    <h6 class="m-0">{{'Tìm kiếm cho'|_}} "{{this.page.search}}"{% if category %}
                                        {{'trong danh mục'|_}} "{{category.name}}"{% endif %}:</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% if not this.page.search and category %}
                    <div class="col-12">
                        <div class="sort-box mb-3">
                            <div class="sort-box-item">
                                <div class="sort-box__tab">
                                    <h6 class="m-0">{{'Tìm kiếm trong danh mục'|_}} "{{category.name}}":</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% for post in posts %}
                    <div class="col-md-6">
                        {% partial 'blog/post' post=post %}
                    </div>
                    {% else %}
                    <div class="col-12">
                        <div class="sort-box mb-3 border-danger">
                            <div class="sort-box-item">
                                <div class="sort-box__tab">
                                    <h6 class="m-0 text-danger">{{ 'Không có bài viết nào'|_ }}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% if blogPosts.posts.lastPage > 1 %}
                <div class="bizagn--pagination">
                    <a
                        href="{% if blogPosts.posts.currentPage > 1 %}{{ 'blogs'|page}}?page={{blogPosts.posts.currentPage - 1}}{% if search %}&search={{search}}{% endif %}{% else %}javascript:;{% endif %}"><i
                            class="fa fa-angle-left"></i></a>
                    {% set applyDot = true %}
                    {% for page in 1..blogPosts.posts.lastPage %}
                    {% if page==1 or page == blogPosts.posts.lastPage or (page >= blogPosts.posts.currentPage-1
                    and page <= blogPosts.posts.currentPage+1) %} {% if blogPosts.posts.currentPage==page %} <span
                        class="current">{{page}}</span>
                        {% else %}
                        <a
                            href="{{ 'blogs'|page}}?page={{page}}{% if search %}&search={{search}}{% endif %}">{{page}}</a>
                        {% endif %}
                        {% set applyDot = true %}
                        {% else %}
                        {% if applyDot == true %}
                        <span class="current">...</span>
                        {% set applyDot = false %}
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                        <a
                            href="{% if blogPosts.posts.currentPage != blogPosts.posts.lastPage %}{{ 'blogs'|page}}?page={{blogPosts.posts.currentPage + 1}}{% if search %}&search={{search}}{% endif %}{% else %}javascript:;{% endif %}"><i
                                class="fa fa-angle-right"></i></a>
                </div>
                {%endif %}
            </div>

            <div class="col-lg-4">
                {% partial 'blog/sidebar' category=category %}
            </div>
        </div>
    </div>
</section>