title = "Bài viết"
url = "/bai-viet/:slug"
layout = "main"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
enabled_in_sitemap = 1
use_updated_at = 1
changefreq = "always"
priority = 0.1
model_class = "\RainLab\Blog\Models\Post"
fill_params = "{':slug':'slug'}"
use_updated_at = 1

[blogPost]
slug = "{{ :slug }}"
categoryPage = "blogs"

[blogRelated]
slug = "{{ :slug }}"
results = 4
direction = "desc"
postPage = "blog"
==
{% set post = blogPost.post %}
<div class="bizagn--page-title">
    <div class="bizagn--page-bc">
        <ul>
            <li><a href="{{'index'|page}}">{{'Trang chủ'|_}}</a></li>
            <li><a href="{'blogs'|page({c: ''})}}">{{'Tin tức'|_}}</a></li>
            <li>{{post.title}}</li>
        </ul>
    </div>
</div>
<section class="pt-120 pb-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="post-details-cover">
                    <div class="post-thumb-cover">
                        {% if post.featured_images.count %}
                        {% for image in post.featured_images|slice(0, 1) %}
                        <div class="post-thumb">
                            <img src="{{ image.getThumb(1110, 700, 'crop') }}" alt="{{post.title}}" class="img-fluid"
                                data-rjs="2">
                        </div>
                        {% endfor %}
                        {% endif %}
                        <div class="post-meta-info">
                            {% if post.categories.count %}
                            <p class="cats">
                                {% for category in post.categories %}
                                <a href="{{ 'blogs'|page({c:category.slug}) }}">{{ category.name }}</a>{% if not
                                loop.last %}, {% endif %}
                                {% endfor %}
                            </p>
                            {% endif %}
                            <div class="title">
                                <h2>{{post.title}}</h2>
                            </div>
                            <ul class="nav meta align-items-center">
                                <li class="meta-date"><a href="#">{{ post.published_at|date('d m, Y') }}</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="post-content-cover my-drop-cap">
                        {{ post.content_html|raw }}
                    </div>
                    {% if post.tags|length %}
                    <div class="post-all-tags">
                        {% for tag in post.tags %}
                        <a href="{{'tags'|page({tag: tag.slug})}}">{{ tag.name }}</a>
                        {% endfor %}
                    </div>
                    {% endif %}
                    <div class="post-about-author-box">
                        <div class="author-desc">
                            <div class="social-icons">
                                {% partial 'blog/share' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                {% partial 'blog/sidebar' category=category %}
            </div>
        </div>
    </div>
</section>