title = "Liên hệ"
url = "/lien-he"
layout = "main"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
enabled_in_sitemap = 1
use_updated_at = 1
changefreq = "always"
priority = 0.1

[DataBlock ContactBlock]
code = "lien-he"

[customForm]
formCode = "contact_form"
==
{% set contactBlock = ContactBlock.data %}
<div class="bizagn--page-title">
    <div class="bizagn--page-bc">
        <ul>
            <li><a href="{{'index'|page}}">{{'Trang chủ'|_}}</a></li>
            <li>{{'Liên hệ'|_}}</li>
        </ul>
    </div>
</div>
<section class="pt-120 pb-80">
    <div class="container">
        <div class="row">
            {% if contactBlock.email_anchor and contactBlock.email %}
            <div class="col-lg-4 col-md-6">
                <div class="bizagn--contact-info mb-30">
                    <div class="icon">
                        <i class="fa fa-envelope"></i>
                    </div>
                    <div class="data">
                        <h3>{{'Địa chỉ Email'|_}}</h3>
                        <p><a href="mailto:{{contactBlock.email}}">{{contactBlock.email_anchor}}</a></p>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if contactBlock.phone_anchor and contactBlock.phone %}
            <div class="col-lg-4 col-md-6">
                <div class="bizagn--contact-info mb-30">
                    <div class="icon">
                        <i class="fa fa-phone"></i>
                    </div>
                    <div class="data">
                        <h3>{{'Số điện thoại'|_}}</h3>
                        <p><a href="tel:{{contactBlock.phone}}">{{contactBlock.phone_anchor}}</a></p>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if contactBlock.address %}
            <div class="col-lg-4 col-md-6">
                <div class="bizagn--contact-info mb-30">
                    <div class="icon">
                        <i class="fa fa-map-marker"></i>
                    </div>
                    <div class="data">
                        <h3>{{'Địa chỉ'|_}}</h3>
                        <p>{{contactBlock.address}}</p>
                    </div>
                </div>
            </div>
            {%endif %}
        </div>
    </div>
</section>
<section class="pt-120 pb-120">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="bizagn--section-title">
                    <p>{{'Liên hệ'|_}}</p>
                    <h2>{{'Hãy để lại lời nhắn <br> Chúng tôi sẽ liên hệ lại ngay'|_}}</h2>
                </div>
                <div class="bizagn--contact-form">
                    {% component 'customForm' %}
                </div>
            </div>
            {% if contactBlock.map_iframe %}
            <div class="col-md-6">
                {{contactBlock.map_iframe|raw}}
            </div>
            {% endif %}
        </div>
    </div>
</section>