title = "Tags"
url = "/tags/:tag"
layout = "main"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
enabled_in_sitemap = 1
use_updated_at = 1
changefreq = "always"
priority = 0.1
model_class = "\Pcms\BlogTags\Models\Tag"
fill_params = "{':tag':'slug'}"
use_updated_at = 1

[blogTagSearch]
tag = "{{ :tag }}"
page = "{{ :page }}"
resultsPerPage = 10
postPage = "blog"
categoryPage = "about"
pagination = 1
==
{% set blogPosts = blogTagSearch %}
{% set posts = blogPosts.posts %}
<div class="bizagn--page-title">
    <div class="bizagn--page-bc">
        <ul>
            <li><a href="{{'index'|page}}">{{'Trang chủ'|_}}</a></li>
            <li><a href="{'blogs'|page({c: ''})}}">{{'Tin tức'|_}}</a></li>
            <li>{{blogTagSearch.tag.name}}</li>
        </ul>
    </div>
</div>
<section class="pt-120 pb-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="row bizagn--blog-section">
                    <div class="col-12">
                        <div class="sort-box mb-3">
                            <div class="sort-box-item">
                                <div class="sort-box__tab">
                                    <h6 class="m-0">{{'Tìm kiếm tag'|_}} "{{blogTagSearch.tag.name}}":</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% for post in posts %}
                    <div class="col-md-6">
                        {% partial 'blog/post' post=post %}
                    </div>
                    {% else %}
                    <div class="col-12">
                        <div class="sort-box mb-3 border-danger">
                            <div class="sort-box-item">
                                <div class="sort-box__tab">
                                    <h6 class="m-0 text-danger">{{ 'Không có bài viết nào'|_ }}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% if blogPosts.posts.lastPage > 1 %}
                <div class="bizagn--pagination">
                    <a
                        href="{% if blogPosts.posts.currentPage > 1 %}{{ 'tags'|page({tag: blogTagSearch.tag.slug})}}?page={{blogPosts.posts.currentPage - 1}}{% else %}javascript:;{% endif %}"><i
                            class="fa fa-angle-left"></i></a>
                    {% set applyDot = true %}
                    {% for page in 1..blogPosts.posts.lastPage %}
                    {% if page==1 or page == blogPosts.posts.lastPage or (page >= blogPosts.posts.currentPage-1
                    and page <= blogPosts.posts.currentPage+1) %} {% if blogPosts.posts.currentPage==page %} <span
                        class="current">{{page}}</span>
                        {% else %}
                        <a href="{{ 'tags'|page({tag: blogTagSearch.tag.slug})}}?page={{page}}">{{page}}</a>
                        {% endif %}
                        {% set applyDot = true %}
                        {% else %}
                        {% if applyDot == true %}
                        <span class="current">...</span>
                        {% set applyDot = false %}
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                        <a
                            href="{% if blogPosts.posts.currentPage != blogPosts.posts.lastPage %}{{ 'tags'|page({tag: blogTagSearch.tag.slug})}}?page={{blogPosts.posts.currentPage + 1}}{% else %}javascript:;{% endif %}"><i
                                class="fa fa-angle-right"></i></a>
                </div>
                {%endif %}
            </div>

            <div class="col-lg-3">
                {% partial 'blog/sidebar' category=category %}
            </div>
        </div>
    </div>
</section>