<ul>
    {% for button in __SELF__.property('buttons_order') %}
    {% if(__SELF__.property(button)) %}
    <li>
        <a class="{{ __SELF__.property('buttons_parameters')[button]['class'] }}"
            href="{{ __SELF__.property('buttons_parameters')[button]['href'] }}"
            title="{{ __SELF__.property('buttons_parameters')[button]['title'] }}" target="_blank">
            {% if __SELF__.property('buttons_parameters')[button]['image'] %}
                <img src="{{__SELF__.property('buttons_parameters')[button]['image']}}"
                alt="{{ __SELF__.property('buttons_parameters')[button]['title'] }}">
            {% endif %}
            {% if __SELF__.property('buttons_parameters')[button]['icon'] %}
                <i class="{{ __SELF__.property('buttons_parameters')[button]['icon'] }}"></i>
            {% endif %}
            {% if __SELF__.property('buttons_parameters')[button]['label'] %}
                <span>{{ __SELF__.property('buttons_parameters')[button]['label'] }}</span>
            {% endif %}
        </a>
    </li>
    {% endif %}
    {% endfor %}
</ul>

{% if __SELF__.property('js') %}
    <script src="plugins/pcms/socialshare/assets/js/social-share.js"></script>
{% endif %}