[viewBag]

[DataBlock CompanyBlock]
code = "thuong-hieu"

[DataBlock SocialsBlock]
code = "mang-xa-hoi"

[DataBlock ContactBlock]
code = "lien-he"
==
{% set companyBlock = CompanyBlock.data %}
{% set socialsBlock = SocialsBlock.data %}
{% set contactBlock = ContactBlock.data %}
<footer class="bizagn--footer">
    <div class="bizagn--footer-top" data-bg-img="{{'assets/images/footer-map.png'|theme}}">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="bizagn--widget footer-widget">
                        <div class="bizagn--widget-content">
                            <a href="#">
                                <img src="{{companyBlock.logo|media}}" alt="" class="img-fluid" data-rjs="2">
                            </a> <br> <br> <br>
                            <p>{{companyBlock.slogan}}</p>
                            {% if socialsBlock.socials | length %}
                            <div class="widget-social">
                                {% for social in socialsBlock.socials %}
                                <a target="_blank" href="{{social.url}}"><i class="{{social.icon}}"></i></a>
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="bizagn--widget footer-widget">
                        <div class="bizagn--widget-title">
                            <h3>{{'Liên hệ'|_}}</h3>
                        </div>
                        <div class="bizagn--widget-content">
                            <ul class="bizagn--menu">
                                {% if contactBlock.address %}
                                <li class="mb-2"><span>{{'Địa chỉ'|_}}: </span> {{contactBlock.address}}</li>
                                {% endif %}
                                {% if contactBlock.email_anchor and contactBlock.email %}
                                <li class="mb-2"><span>{{'Địa chỉ Email'|_}}: </span> <a
                                        href="mailto:{{contactBlock.email}}">{{contactBlock.email_anchor}}</a></li>
                                {% endif %}
                                {% if contactBlock.phone_anchor and contactBlock.phone %}
                                <li class="mb-2"><span>{{'Số điện thoại'|_}}: </span> <a
                                        href="tel:{{contactBlock.phone}}">{{contactBlock.phone_anchor}}</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="bizagn--widget footer-widget">
                        <div class="bizagn--widget-title">
                            <h3>{{'Đường dẫn'|_}}</h3>
                        </div>
                        <div class="bizagn--widget-content">
                            <p class="mb-2"><a href="{{'contact'|page}}">{{'Liên hệ'|_}}</a></p>
                            <p class="mb-2"><a href="{{'blogs'|page({c: ''})}}">{{'Tin tức'|_}}</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bizagn--footer-bottom">
        <div class="container">
            <div class="bizagn--footer-cradit text-center">
                <p>Copyright © {{'now'|date('Y')}} Live Commerce. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>
<div class="back-to-top d-flex align-items-center justify-content-center">
    <span><i class="fa fa-angle-up"></i></span>
</div>