[viewBag]
==
<script src="{{'assets/js/jquery-3.3.1.min.js'|theme}}"></script>
<script src="{{'assets/js/bootstrap.bundle.min.js'|theme}}"></script>
<script src="{{'assets/plugins/owl-carousel/owl.carousel.min.js'|theme}}"></script>
<script src="{{'assets/plugins/menumaker/menumaker.js'|theme}}"></script>
<script src="{{'assets/plugins/isotope/isotope.pkgd.min.js'|theme}}"></script>
<script src="{{'assets/plugins/isotope/imagesloaded.pkgd.min.js'|theme}}"></script>
<script src="{{'assets/plugins/ratinajs/retina.min.js'|theme}}"></script>
<script src="{{'assets/js/scripts.js'|theme}}"></script>
<script src="{{'assets/js/custom.js'|theme}}"></script>
<script src="{{'assets/main.js'|theme}}"></script>
{% framework extras %}
{% scripts %}