[viewBag]
==
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{'assets/css/bootstrap.min.css'|theme}}">
<link rel="stylesheet" href="{{'assets/css/font-awesome.min.css'|theme}}">
<link rel="stylesheet" href="{{'assets/plugins/owl-carousel/owl.carousel.min.css'|theme}}">
<link rel="stylesheet" href="{{'assets/plugins/animate/animate.min.css'|theme}}">
<link rel="stylesheet" href="{{'assets/css/style.css'|theme}}">
<link rel="stylesheet" href="{{'assets/css/responsive.css'|theme}}">
<link rel="stylesheet" href="{{'assets/css/custom.css'|theme}}">
<link rel="stylesheet" href="{{'assets/theme.css'|theme}}">
{% styles %}