[viewBag]
[DataBlock CompanyBlock]
code = "thuong-hieu"

[DataBlock SocialsBlock]
code = "mang-xa-hoi"

[blogCategories]
slug = "{{ :slug }}"
displayEmpty = 0
categoryPage = "index"

==
{% set companyBlock = CompanyBlock.data %}
{% set socialsBlock = SocialsBlock.data %}
<header class="bizagn--header">
    <div class="nav-ol"></div>
    <div class="bizagn--sticky-nav sticky-header-true">
        <div class="container">
            <div class="bizagn--navbar">
                <div class="row align-items-center">
                    <div class="col-md-3 col-6">
                        <div class="bizagn--logo">
                            <a href="{{'index'|page}}"><img src="{{companyBlock.logo|media}}" alt="" class="img-fluid"
                                    data-rjs="2"></a>
                        </div>
                    </div>
                    <div class="col-md-9 col-6 d-flex align-items-center justify-content-end position-static">
                        <div class="bizagn--nav-menu">

                            <ul>
                                <li><a href="{{'index'|page}}">{{'Trang chủ'|_}}</a>
                                </li>
                                <li {% if blogCategories.categories|length %}class="menu-item-has-children" {% endif %}>
                                    <a href="{{'blogs'|page({c: ''})}}">{{'Tin tức'|_}}</a>
                                    {% if blogCategories.categories|length %}
                                    <ul class="sub-menu py-2">
                                        {% for cate in blogCategories.categories %}
                                        <li><a href="{{'blogs'|page({c: cate.slug})}}">{{cate.name}}</a></li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}
                                </li>
                                <li><a href="{{'contact'|page}}">{{'Liên hệ'|_}}</a></li>
                            </ul>

                        </div>
                        <div class="bizagn--mobile-nav">
                            <ul class="inline-list">
                                <li>
                                    <div class="bizagn--off-canvas-toggle">
                                        <span class="line one"></span>
                                        <span class="line two"></span>
                                        <span class="line three"></span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bizagn--off-canvas">
        <div class="bizagn--off-canvas-cover">
            <div class="bizagn--off-canvas-close">
                {{'Đóng'|_}} <i class="fa fa-close"></i>
            </div>
            <div class="bizagn--off-canvas-menu">
                <ul>
                    <li><a href="{{'index'|page}}">{{'Trang chủ'|_}}</a>
                    <li><a href="{{'blogs'|page}}">{{'Tin tức'|_}}</a></li>
                    <li><a href="{{'contact'|page}}">{{'Liên hệ'|_}}</a></li>
                </ul>
            </div>
            {% if socialsBlock.socials | length %}
            <div class="bizagn--off-canvas-social">
                {% for social in socialsBlock.socials %}
                <a target="_blank" href="{{social.url}}"><i class="{{social.icon}}"></i></a>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
</header>