<?php Block::put('breadcrumb') ?>
<ul>
    <li><a href="<?= Backend::url('pcms/formbuilder/field') ?>">Field</a></li>
    <li><?= e($this->pageTitle) ?></li>
</ul>
<?php Block::endPut() ?>

<?= $this->reorderRender() ?>

<button
    id="updatePosition"
    class="btn btn-reorder oc-icon-list-ol"
    disabled="disabled"
    onclick="$(this).data('request-data', {
    checked: $('.index_reposition').map(function(){  return $(this).val() }).get(), model_id: <?php echo $this->formGetModel()->id; ?> })"
    data-request-success="initializeSorting();"
    data-request="onUpdatePosition"
    data-stripe-load-indicator>
    Update Order
</button>
