<?php Block::put('breadcrumb') ?>
<ul>
    <li><a href="<?= Backend::url('pcms/formbuilder/field') ?>">Field</a></li>
    <li><?= e($this->pageTitle) ?></li>
</ul>
<?php Block::endPut() ?>

<?php if (!$this->fatalError): ?>

<?= Form::open(['class' => 'layout']) ?>

<div class="layout-row">
    <?= $this->formRender() ?>
</div>

<div class="form-buttons">
    <div class="loading-indicator-container">
        <button type="submit" data-request="onSave" data-request-data="redirect:0" data-hotkey="ctrl+s, cmd+s"
            data-load-indicator="<?= e(trans('backend::lang.form.saving')) ?>" class="btn btn-primary">
            <?= e(trans('backend::lang.form.save')) ?>
        </button>
        <button type="button" data-request="onSave" data-request-data="close:1" data-hotkey="ctrl+enter, cmd+enter"
            data-load-indicator="<?= e(trans('backend::lang.form.saving')) ?>" class="btn btn-default">
            <?= e(trans('backend::lang.form.save_and_close')) ?>
        </button>
        <button type="button" class="oc-icon-trash-o btn-icon danger pull-right" data-request="onDelete"
            data-load-indicator="<?= e(trans('backend::lang.form.deleting')) ?>"
            data-request-confirm="<?= e(trans('backend::lang.form.confirm_delete')) ?>">
        </button>

        <span class="btn-text">
            <?= e(trans('backend::lang.form.or')) ?> <a
                href="<?= Backend::url('pcms/formbuilder/field') ?>"><?= e(trans('backend::lang.form.cancel')) ?></a>
        </span>
    </div>
</div>
<?= Form::close() ?>

<?php else: ?>
<p class="flash-message static error"><?= e(trans($this->fatalError)) ?></p>
<p><a href="<?= Backend::url('pcms/formbuilder/field') ?>"
        class="btn btn-default"><?= e(trans('backend::lang.form.return_to_list')) ?></a></p>
<?php endif ?>